<mat-tab-group mat-stretch-tabs [style.padding.px]="8">
  <mat-tab label="CHATS">
    <mat-nav-list>
      <a mat-list-item *ngFor="let chat of chats" routerLink="/chat/{{chat.id}}">
         <h4 matLine class="mat-h4">{{chat.user.name}}</h4>
         <p matLine [style.color]="'rgba(0,0,0,.54)'">
           <span class="mat-body-2" [style.paddingRight.px]="4">{{chat.latest_message.user.name}}</span><span class="mat-body-1">{{chat.latest_message.content}}</span>
         </p>
      </a>
    </mat-nav-list>
  </mat-tab>
  <mat-tab label="PEOPLE">
    <div style="padding: 16px;">
      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Search" ngModel (ngModelChange)="updateQuery($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>    
    <mat-nav-list>
      <a mat-list-item *ngFor="let user of users" (click)="openChat(user.id)">
         <h4 matLine class="mat-h4">{{user.name}}</h4>
      </a>
    </mat-nav-list>
    <mat-paginator [style.marginTop.px]="20"
                   [length]="totalUsers"
                   pageSize="10"
                   [pageIndex]="pageSubject | async"
                   (page)="changePage($event)">
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
