<div (scroll)="updateScroll($event)"
     id="scrollable"
     style="position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1000;
            width: 100%;
            overflow: auto;
            background: rgba(250,250,250, 1);"
            fxLayout="column">
  <mat-toolbar class="topbar-sticky">
    <!-- CHAT_TITLEBAR start -->
    <mat-toolbar-row fxLayout>
      <button mat-icon-button [style.margin-right.px]="8" routerLink="">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <span>{{chat?.user.name}}</span>
      <mat-icon *ngIf="chat && chat.user.present" mat-list-icon color="primary" style="margin-left: auto;">sms</mat-icon>
      <mat-icon *ngIf="!(chat && chat.user.present)" mat-list-icon style="color: rgba(0,0,0,.54); margin-left: auto;">sms_failed</mat-icon>
    </mat-toolbar-row>
    <!-- TEST_PANEL start -->
    <!-- <mat-toolbar-row>
      <button mat-icon-button [style.margin-left]="'auto'" (click)="loadOlderMessages()">
        <mat-icon>bug_report</mat-icon>
      </button>
    </mat-toolbar-row> -->
    <!-- TEST_PANEL end -->
  </mat-toolbar>
  <!-- CHAT_TITLEBAR end -->

  <!-- CHAT_MESSAGES start -->
  <div class="chat-messages">
    <div *ngIf="pages > 1" style="margin-bottom: 16px;" fxLayout>
      <button mat-stroked-button
              style="margin: auto"
              (click)="loadOlderMessages()"
              [disabled]="loading">
        {{loading ? 'PLEASE WAIT...' : 'LOAD OLDER MESSAGES'}}
      </button>
    </div>
    <div *ngFor="let cluster of messageClusters; last as isLast"
          class="chat-box-group chat-box-group-{{cluster.userId !== userId ? 'left' : 'right'}}">
      <!-- CHAT_MESSAGE start -->
      <app-message *ngFor="let message of cluster.messages" [scrollIntoView]="scrolledToBottom" [message]="message"></app-message>
      <!-- CHAT_MESSAGE end -->
    </div>
  </div>
  <!-- CHAT_MESSAGES end -->

  <!-- CHAT_MESSAGE_BOX start -->
  <div style="position: sticky;
              bottom: 0;
              z-index: 5;
              box-sizing: border-box;
              width: 100%;
              padding: 32px 16px 16px;
              background: linear-gradient(transparent, #fff 16px);
              margin-top: auto;"
       class="chat-message-box">
    <form fxLayout
          fxLayoutAlign="center center"
          fxLayoutGap="16px"
          [formGroup]="chatMessageForm"
          (keydown.enter)="sendMessage()"
          (ngSubmit)="sendMessage()">
      <mat-form-field style="width: 100%;">
        <textarea matInput
              #messageInput
              formControlName="content"
              placeholder="Leave a message" 
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="3"
              (keydown.enter)="$event.preventDefault();"></textarea>
        <mat-error>Message is too long.</mat-error>
        <mat-hint align="end">{{messageInput.value.length}} / 2000</mat-hint>
      </mat-form-field>
      <button mat-fab [disabled]="sendingMessage">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  <!-- CHAT_MESSAGE_BOX end -->
</div>
