$indigo-50: #e8eaf6;
$indigo-400: #5c6bc0;

.chat-messages {
  padding: 16px;
}

.chat-box-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  &:last-of-type {
    margin-bottom: 0;
  }
  app-message {
    margin-bottom: 2px;
  }
}

.chat-box-group-left {
  align-items: flex-start;
  app-message {
    .message-card {
      background-color: $indigo-50;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
    }
    &:first-of-type {
      .message-card { border-top-left-radius: 32px; }
    }
    &:last-of-type {
      .message-card { border-bottom-left-radius: 32px; }     
    }
  }
}

.chat-box-group-right {
  align-items: flex-end;
  text-align: right;
  app-message {
    .message-card {
      background-color: $indigo-400;
      color: #fff;
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px;
    }
    &:first-of-type {
      .message-card { border-top-right-radius: 32px; }
    }
    &:last-of-type {
      .message-card { border-bottom-right-radius: 32px; }     
    }
  }
}
