#availability-toggle .mat-slide-toggle-label {
  justify-content: space-between;
}

.sidenav-list mat-icon {
  margin-right: 24px;
}

.mat-sidenav-content {
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-wrapper {
  height: 100%;
  box-sizing: border-box;
  .mat-tab-body-content {
    display: flex;
    flex-direction: column;
  }
}