<mat-sidenav-container style="height: 100%">
  <!-- SIDENAV start -->
  <mat-sidenav #sidenav mode="over"
               fixedInViewport="true"
               style="width: 296px;"
               (click)="sidenav.toggle()">
    <mat-toolbar color="primary" 
                 style="display: grid;
                        grid-template-rows: repeat(3, 1fr);
                        background: url('/assets/img/abstract-background-blur-949587.jpg');
                        background-size: cover;
                        background-position: center;">
      <mat-toolbar-row style="grid-row-start: 3;">
        <div *ngIf="core.userSignedIn()">
          <div>{{core.currentUser.name}}</div>
          <small>{{core.currentUser.email}}</small>
        </div>
        <div *ngIf="!core.userSignedIn()">
          You are not signed in.
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="sidenav-list" *ngIf="core.userSignedIn()">
      <a mat-list-item><mat-icon>visibility</mat-icon>
        <mat-slide-toggle labelPosition="before" style="width: 100%;" id="availability-toggle">
          Available
        </mat-slide-toggle>
      </a>
      <a mat-list-item><mat-icon>settings</mat-icon> <span>Settings</span></a>
      <a mat-list-item (click)="logOut()"><mat-icon>exit_to_app</mat-icon> <span>Log out</span></a>
    </mat-nav-list>

    <mat-nav-list class="sidenav-list" *ngIf="!core.userSignedIn()">
      <a mat-list-item routerLink="/login" routerLinkActive="active-route"><mat-icon>vpn_key</mat-icon> <span>Log In</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- SIDENAV end -->

  <!-- MAIN_TOOLBAR start -->
  <mat-toolbar color="primary" class="topbar-sticky">
    <mat-toolbar-row>
      <button mat-icon-button
              [style.margin-right.px]="8"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Rails Chat</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- MAIN_TOOLBAR end -->
  <div [@slideIn]="o && o.activatedRouteData && o.activatedRouteData['type']">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</mat-sidenav-container>

